package home

import "ai-photo-app/view/layout"

templ Index() {
    @layout.App(true) {}
	<div class="text-primary">
		<h1 class="text-5xl">Welcome to the home page</h1>
        <button type="button" class="btn">sdsdfsdf</button>
	</div>
}
